@use '../utilities/variables';
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    background-image: url(../image/background.jpg);
    height: 220px;
    text-align: center;
}
.footer p{
    color: variables.$color-fp;
}